<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 载入文章头部页面，位置在/client文件夹下的header模板页面，模板名称th:fragment为header -->
<head>
    <meta charset="UTF-8"/>
    <title>系统登录</title>

    <style>
        div{
            width:300px;
            height:100px;
            position: absolute;
            top:50%;
            left:50%;
            margin-left:-150px;
        }
    </style>
</head>
<body>
<h2>我是服务器：<span th:text="${#request.localPort}"></span></h2>
<h2>当前sessionId：<span th:text="${#session.id}"></span></h2>
<div>
    <form method="post" th:action="@{/login/auth}">
        <table>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" name="password"> <input type="submit" value="登录"></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>
